.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.openlayers-map {
  height: 100vh !important;
  margin-right: -10px;
}

.trackernav {
  min-width: 500px !important;
}

html {
  font-size: 10px;
}

.fullwidth {
  width: 100vw;
  height: 100vh !important;
}
